@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-home-bg{
    background-image: url("/home/background-home-mobile.jpg");
}
.tablet-home-bg{
    background-image: url("../public/home/background-home-tablet.jpg");
}
.desktop-home-bg{
    background-image: url("../public/home/background-home-desktop.jpg");
}